<span>
  <div hidden class="success-msg">This is a success message.</div>
</span>
<h2>Routes</h2>
<table class="main-tbl" id="routes">
  <thead>
    <tr>
      <th>Route Code</th>
      <th>Route Name</th>
      <th>Shortname</th>
      <th class="thpath">Path</th>
      <th>Signage</th>
      <th>Length</th>
      <th>Color</th>
      <th>Actions <button class="add">Add new</button></th>
    </tr>
  </thead>
  <tbody>
    <% routes?.map((i) =>{ %>
    <tr data-id="<%= i.id%>">
      <td name="route_code" class="r e"><%= i.route_code %></td>
      <td name="route_name" class="r e"><%= i.route_name %></td>
      <td name="shortname" class="r e"><%= i.shortname %></td>
      <td name="path" class="r data-ul thpath"> 
        <ul class="list_sbar">
      <% i?.path?.map((j,idx) => { %>
        <li class="path" > <a href="javascript:void(0);"><%= j %></a></li>
      <% }) %>
        </ul>
      </td>
      <td name="signage" class="r e"><%= i.signage %></td>
      <td class="r"><%= i.length %></td>
      <td class="r color"><input type="color" name="color" id="" value="<%= i.color %>" disabled></td>
      <td>
        <button class="save">Save</button>
        <button class="edit">Edit</button>
        <!-- <button class="delete">Delete</button> -->
      </td>
    </tr>
    <% }) %>
  </tbody>
</table>